@import url("my-darktable.css");

@define-color culling_selected_border_color transparent;

.dt_plugin_ui,
.dt_bauhaus,
.dt_bauhaus_popup,
combobox,
combobox *,
togglebutton,
togglebutton *,
notebook,
notebook *,
notebook tab,
notebook tab *,
table,
table *,
row,
row *,
frame,
frame *,
alignment,
entry,
entry *,
dialog,
dialog *,
colorswatch,
colorswatch *,
stack,
stack *,
scrollbar,
scrollbar *,
eventbox,
eventbox *,
scale,
scale *,
button,
button *,
treeview,
treeview *,
menu,
menu *,
separator,
eventbox,
eventbox *,
box,
box *
{
  font-family: "Inter Tight", sans-serif;
  font-size: 10pt;
}

.dt_section_label:not(#blending-box),
#blending-box .dt_section_label label,
#blending-box .dt_section_label .dt_bauhaus
{
  font-family: "Inter Tight", sans-serif;
  font-size: 10pt;
}

#iop-panel-label,
#lib-panel-label
{
  font-family: "Inter Tight", sans-serif;
  font-size: 10pt;
}

.active_menu_item *,
notebook tabs,
tooltip label,
#blending-tabs,
#modules-tabs
{
  font-family: "Inter Tight", sans-serif;
  font-size: 10pt;
}

#usercss-box
{
  font-family: monospace;
  font-size: 10pt;
}